<div class="container">
    <div class="row">

        <div class="col-md-12">Ask your question: <br>
            <code>input post code here</code>
        </div>
        
        <!-- <div class="col-md-4">Popular Qestions</div> -->
        
        <div class="col-md-10">
            <!-- will need to put code here that shows latest questions -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. De quibus cupio scire quid sentias. Nihil enim hoc differt. Quis istum dolorem timet? Quid, quod res alia tota est? </p>

            <p>Ut optime, secundum naturam affectum esse possit. Perge porro; </p>

            <p>Nam ante Aristippus, et ille melius. Ostendit pedes et pectus. Urgent tamen et nihil remittunt. An eiusdem modi? Praeteritis, inquit, gaudeo. Negare non possum. </p>

            <ul>
                <li>Ego quoque, inquit, didicerim libentius si quid attuleris, quam te reprehenderim.</li>
                <li>Hoc est vim afferre, Torquate, sensibus, extorquere ex animis cognitiones verborum, quibus inbuti sumus.</li>
                <li>Quid affers, cur Thorius, cur Caius Postumius, cur omnium horum magister, Orata, non iucundissime vixerit?</li>
                <li>Si enim, ut mihi quidem videtur, non explet bona naturae voluptas, iure praetermissa est;</li>
                <li>Odium autem et invidiam facile vitabis.</li>
            </ul>


            <pre>
            Quis est enim aut quotus quisque, cui, mora cum
            adpropinquet, non refugiat timido sanguen átque exalbescát
            metu?

            Mihi quidem Homerus huius modi quiddam vidisse videatur in
            iis, quae de Sirenum cantibus finxerit.
            </pre>


            <p>Hunc vos beatum; Tenent mordicus. Istam voluptatem perpetuam quis potest praestare sapienti? Quo igitur, inquit, modo? Sed fortuna fortis; Negare non possum. </p>

            <p>Duo Reges: constructio interrete. Sed ille, ut dixi, vitiose. <code>Hos contra singulos dici est melius.</code> Ea possunt paria non esse. Ut pulsi recurrant? Quis istud possit, inquit, negare? </p>

        </div>

        <div class="col-md-2">
        Categories section
        A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>
        </div>

    </div>
</div>