<h1>Edit this bean!</h1>

<%= form_for @post, url: edit_post_path do |f| %>

    <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
    </div>

    <%= f.submit "Submit", class: "btn btn-warning" %>

<% end %>

<%= link_to "Back", posts_path %>

